.section-contacts {
    margin-bottom: 70px;
}


.contacts-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.address {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contacts-title {
    font-size: 35px;
    font-weight: 600;
    width: 500px;
    margin-bottom: 15px;
}

.contacts-text {
    font-size: 20px;
}

.contact-item-list {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.contact-item-list:hover {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.contact-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

