.header { 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: white;
}


.header-title {
    font-size: 5vw;
    text-align: left;
    color: white;
    font-weight: 700;
}

.header-image-bot {
    max-width: 10%;
}


.hidden-pull {
    display: none;
}



.list-header {
    margin-bottom: 4%; 
    margin-top: 2%;
    display: flex;
    gap: 1rem;
}

.header-button {
    margin-top: 3%;
    display: block;
    width: 200px;
    height: 50px;
    line-height: 45px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    border: 2px solid #cb2929;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    z-index: 1;
}

.header-button span{
    position: relative;
    z-index: 2;
}

.header-button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #cb2929;
    transition: all .35s;
}

.header-button:hover{
    color: #fff;
}

.header-button:hover:after{
    width: 100%;
}

.list-header > li {
    color: white;
}

.header__wrapper, .logo, .nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;

}

.logo {
    box-shadow: none;
    gap: 20px;
}

.header__logo-link {
    color: red;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
}


.nav {
    box-shadow: none;
    gap: 20px;
}
.nav__link{
    font-weight: 700;
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: .3s;
}

.fz-item{
    margin-bottom: 10px;
   font-weight: 600;
    font-size: 1vw;
}

.nav__link::after{
    

    position: absolute;
    background-color: rgb(255, 0, 0);
    content: '';
    left: 0;
    width: 0;
    height: 3px;
    bottom: -2px;
    transition: .3s;
}

.nav__link:hover:after{

    width: 100%;
}
.nav__link:hover{
    color: red;
}

.nav__button {
    overflow: hidden;
    position: relative;
    padding: 7px 35px;
    border: 2px solid #cb2929;
    color: white;
    background-color: #cb2929;
    font-weight: 700;
    font-size: 16px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.nav__button > a {
    color: white;
    transition: all .3s ease-in-out;
}


.contact {
    text-decoration: none;
    color: black;
}


.nav__button:after {
    content: ' ';
    position: absolute;
    top: -106%;
    left: -73px;
    width: 40px;
    transform: rotate(45deg);
    height: 100px;
    background-color: rgba( 255, 255, 255 , 22);
    transition:  all .3s;
}

.nav__button:hover::after {
    left: 200px;

}


/* main */

.main-section {
    min-height: 70vh;
    padding-top: 160px;
    padding-bottom: 70px;
}

/* .main-section:after {

    background: linear-gradient(-180deg,#ff8928,transparent 35%);
    bottom: -100vh;
    content: " ";
    height: 930px;
    position: absolute;
    right: 0;
    width: 100%;
} */

.main-section-wrapper {



}

.left-content {
    box-shadow: 2px 2px 20px rgb(246, 156, 0);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    width: 500px;
    padding: 70px 60px;
}

.title {
    color: white;
    font-size: 7vw;
    font-weight: 700;
    margin-bottom: 10px;
}


.list {
    display: flex;
}

.list-item { 
    font-size: 20px;
    margin-bottom: 15px;
    color: rgb(34, 34, 34);
    font-weight: 600;
}

.main-button {
    padding: 15px 40px;
    background-color: rgb(255, 63, 63);
    border: 3px solid red;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    background-color: transparent; 
    font-weight: 700;
    font-size: 16px;
    transition: .3s;
    cursor: pointer;
    outline: none;
}

.main-button:hover {
    color: white;
    background-color: red;
}
