.section {
    margin-bottom:  65px;
}


.section-title {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 60px;
    font-weight: 700;
}


.section-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
    
}

.card-wrap {
    padding: 20px;
    text-align: center;
    width: 280px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgb(229, 229, 229);
    transition: .3s;
}

.card-wrap:hover, .card-title > h2 {
    background-color: rgb(41, 41, 41);
    color: white;
}

.card-title {
    margin-bottom: 20px;
    font-weight: 600;
}

.card-text {
    font-size: 17px;
    line-height: 25px;
}

.section-bot-title {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 15px;
}

.section-bot-text {
    width: 100%;
    font-size: 30px;
}

.section-list-item {
 font-size: 20px;
 margin-bottom: 5px;
}

.section-list  {
    list-style: disc;
}


.section-right {
    padding: 20px;
    margin-top: 70px;
    padding-left: 60px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgb(229, 229, 229);
}